<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecin520.answer.dao.QuestionDao">

    <insert id="insertQuestion" parameterType="com.ecin520.api.entity.Question">
        INSERT `question`(`create_time`, `type_name`, `question_owner`,
            `question_describe`, `question_explain`, `item_a`,
            `item_b`, `item_c`, `item_d`, `item_ans`, `question_status`) VALUES (
            NOW(), #{type_name}, #{question_owner}, #{question_describe},
            #{question_explain}, #{item_a}, #{item_b}, #{item_c}, #{item_d}, #{item_ans}, 2
            );
    </insert>

    <update id="updateQuestion" parameterType="com.ecin520.api.entity.Question">
        UPDATE `question` SET `type_name` = #{type_name}, `question_owner` = #{question_owner},
            `question_describe` = #{question_describe}, `question_explain` = #{question_explain},
            `item_a` = #{item_a}, `item_b` = #{item_b}, `item_c` = #{item_c}, `item_d` = #{item_d},
            `item_ans` = #{item_ans}, `question_status` = #{question_status} WHERE `id` = #{id};
    </update>

    <delete id="deleteQuestion" parameterType="Integer">
        DELETE FROM `question` WHERE `id` = #{id};
    </delete>

    <select id="listAllQuestions" parameterType="Integer" resultType="com.ecin520.api.entity.Question">
        SELECT * FROM `question` WHERE `question_status` = #{questionStatus};
    </select>

    <select id="getQuestionsByTypeName" parameterType="String" resultType="com.ecin520.api.entity.Question">
        SELECT * FROM `question` WHERE `type_name` = #{typeName} AND `question_status` = #{questionStatus};
    </select>

    <select id="getQuestionById" parameterType="Integer" resultType="com.ecin520.api.entity.Question">
        SELECT * FORM `question` WHERE `id` = #{id};
    </select>
</mapper>
