<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecin520.basic.dao.RolePermissionDao">

    <insert id="insertRolePermission" parameterType="Integer">
        INSERT `role_permission`(`rid`, `pid`) VALUES (#{arg0}, #{arg1});
    </insert>

    <update id="updateRolePermission" parameterType="Integer">
        UPDATE `role_permission` SET `rid` = #{rid}, `pid` = #{pid};
    </update>

    <delete id="deleteRolePermissionById" parameterType="Integer">
        DELETE FROM `role_permission` WHERE `id` = #{id};
    </delete>

    <select id="listPermissionsByUserId" parameterType="Integer" resultType="Permission">
        SELECT * FROM `permission` WHERE `id` IN ( SELECT `pid` FROM `role_permission` WHERE `rid` IN ( SELECT `rid` FROM `user_role` WHERE `uid` = #{id} ) );
    </select>

    <select id="listPermissionsByRoleId" resultType="Permission">
        SELECT * FROM `permission` WHERE `id` IN (SELECT `pid` FROM `role_permission` WHERE `rid` = #{rid});
    </select>

</mapper>
