<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecin520.basic.dao.UserDao">

    <insert id="insertUser" parameterType="User">
        INSERT `user` ( `username`, `password`, `nickname`, `avatar_url`,`register_time` )
            VALUES ( #{username}, #{password}, #{nickname}, #{avatar_url}, NOW());
    </insert>

    <select id="getUserById" resultType="User" parameterType="Integer">
        SELECT * FROM `user` WHERE `id` = #{id};
    </select>

    <select id="listAllUsers" resultType="User">
        SELECT * FROM `user`;
    </select>

    <select id="getUserByUsername" resultType="User">
        SELECT * FROM `user` WHERE `username` = #{username};
    </select>

</mapper>
